#------------------------------------------------------------------------------
#
# Denne koden forvaltes av:   Team Smia
# Dokumentasjon:              https://kartverket.atlassian.net/wiki/spaces/TNIBAS/overview

* @kartverket/smia
/.security/ @vegarrsm